$color-green: #00CB79;
$color-gray-one: #444444;
$color-gray-two: #B3B3B3;

$font-mont: 'Montserrat';

@mixin button {
    height: 50px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    color: white;
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
}
