.input {
    display: grid;
    grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];

    font-family: $font-mont;
    text-align: center;
    grid-column-gap: 8px;

    height: 47px;

    &__title {
        grid-column: input-s/input-e;

        
        color: $color-gray-two;
        font-size: 12px;
        font-weight: 300;

    }
    input {
        grid-column: input-s/input-e;

        border: none;
        font-size: 15px;
        text-align: center;
        padding: 4px 0;
        border-bottom: 1px solid $color-gray-two;
        margin-bottom: 1px;
        transition: all .3s ease;
        box-shadow: inset 0px -1.5px 0px 0px $color-gray-two;

        &:focus {
            outline: none;
            box-shadow: inset 0px -1.5px 0px 0px $color-gray-one;
            z-index: 1;
            border-bottom: none;
   
        }
    }

    &__number {
        grid-column: number-s/number-e;
        color: white;
        font-size: 20px;
        line-height: 24px;
        padding-top: 1px;
        height: 26px;
        width: 26px;
        border-radius: 50%;
    }
}