@import 'appStyles';
@import 'header';
@import 'card';
@import 'input';

.gray {
    background: $color-gray-two;
}

.green {
    background: $color-green;
}

.home {
    position: relative;

    background-color: rgba(207, 207, 207, 0.06);
    display: grid;

    justify-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px, 994px) [card-e];
}

